
<div class="container">
  <h1>Create new form</h1>
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
    <%= link_to "back", cocktails_path, class: "btn btn-primary" %>
  <% end %>
</div>
